<!DOCTYPE html>
<html lang="en" style="background: #222222;">

<head>


    <title>Password Mail</title>

    <link rel="stylesheet" href="css/reset.css" type="text/css">
    <link rel="stylesheet" href="css/styles.css" type="text/css">

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <style type="text/css">
     
        .style1 {
            color: #FFFFFF;
        }
      

    </style>

<script type="text/javascript"> 
function disableselect(e){  
return false  
}  

function reEnable(){  
return true  
}  

//if IE4+  
document.onselectstart=new Function ("return false")  
document.oncontextmenu=new Function ("return false")  
//if NS6  
if (window.sidebar){  
document.onmousedown=disableselect  
document.onclick=reEnable  
}
</script>
</head>
<body style="font-family: Arial,Helvetica, sans-serif;">


<!-- Start Container -->
<div id="container" style="margin: 100px auto;
	width: 560px;
	text-align: center;">
	
	<!-- Start Logo --><a  title="Clinic App"><img src="http://jdadmin-001-site1.itempurl.com/images/logo.png" alt="Clinic App" width="125" height="116" class="logo" style="margin: 0 0 10px 0;" /></a><!-- End Logo -->
	
	<!-- Start Message -->
<div id="message" style="background: #eee;
	border: 10px solid #ccc;
	padding: 15px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;">
			<h1 style="font-size: 35px;
	font-weight: bold;
	margin-top: 30px;">Hi User</h1>
				<p style="font-size: 14px;
	line-height: 25px;">Your Password of Tritvam General Clinic is: </p>
				<p>&nbsp;</p>
				<p style="font-size: 14px;
	line-height: 25px;">Username/Login : Name</p>
				<p style="font-size: 14px;
	line-height: 25px;">Password : <strong>6502</strong></p>
				<p>&nbsp;</p>
				<table width="151" border="1" align="center" bgcolor="#3661C7">
                  <tr>
                
                    <td width="168"> <p align="center" style="font-size: 14px;
	line-height: 25px;"><a href="http://jdadmin-001-site1.itempurl.com/Login/Login.aspx" class="style1" style=" color: #FFFFFF;">Account Login</a></p></td>
                  </tr>
                </table>
	            <p>&nbsp;</p>
    <p align="left">With Regards, </p>
                <p align="left"><strong>Clinic App Admin</strong></p>
  </div>
<!-- End Message -->
</div><!-- End Container -->


</body>
</html>
